* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

/* Flip Functionality --- START */

.form-container {
  width: 370px;
  height: 500px;
  position: relative;
  margin: auto;
  margin-right: 10%;
  overflow: hidden;
  border-radius: 15px;
  border: 2px solid #ccc;
  box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -o-perspective: 800px;
  perspective: 800px;
}
.card {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 1s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
}

.card .front,
.card .back {
  display: block;
  height: 100%;
  width: 100%;
  padding: 25px;
  /* line-height: 260px; */
  color: black;
  text-align: center;
  /* font-weight: bold;
  font-size: 140px; */
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.card .front {
  background: white;
}
.card .back {
  background: white;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/* .gradient {
  background: linear-gradient(-45deg, #91e2d0,#f5e2dd, #f2c9d8, #acd8e8 );
  background-size: 1000px;
  animation: gradient 15s ease infinite;
} */

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.card.flipped {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

/* Flip Functionality --- End */

.content {
  margin: auto;
  margin-right: 10%;
  z-index: 99;
  text-align: center;
  padding: 60px 32px;
  width: 370px;
  border-radius: 15px;
  background: white;
  box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
}
.card header {
  color: gray;
  font-size: 2rem;
  font-weight: 500;
  margin: 0 0 50px 0;
  font-family: "Montserrat", sans-serif;
}


.field {
  position: relative;
  height: 45px;
  width: 100%;
  display: flex;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}
.field span {
  color: #222;
  width: 40px;
  line-height: 45px;
}
.field input {
  height: 100%;
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #222;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
.space {
  margin-top: 16px;
}
.space2 {
  margin-top: 8px;
}

.input__svg {
  color: gray;
  margin: auto;
  margin-right: 10px;
  margin-left: 10px;
}

.show {
  position: absolute;
  right: 13px;
  font-size: 10px;
  font-weight: 700;
  color: #222;
  display: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}
.pass-key:valid ~ .show {
  display: block;
}
.pass {
  text-align: left;
  margin: 10px 0;
}
.pass a {
  color: gray;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
.pass:hover a {
  text-decoration: underline;
}

.field input[type="submit"] {
  border: 2px solid #2691d9;
  color: #2691d9;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
}

.field input[type="submit"]:hover {
  background: #2691d9;
  color: white;
}

.login {
  color: gray;
  margin: 20px 0;
  font-family: "Poppins", sans-serif;
}

.login2{
  margin: 10px 0;
}

.links {
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
  color: white;
  margin: 0 0 15px 0;
}
.facebook,
.instagram {
  width: 100%;
  height: 45px;
  line-height: 45px;
  margin-left: 10px;
}
.facebook {
  margin-left: 0;
  background: #4267b2;
  border: 1px solid #3e61a8;
}
.instagram {
  background: #e1306c;
  border: 1px solid #df2060;
}
.facebook:hover {
  background: #3e61a8;
}
.instagram:hover {
  background: #df2060;
}

/* .links{
  color: black;
}

.links i {
  font-size: 17px;
} */
.links-icon {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-left: 12px;
  margin-right: 12px;
  border-radius: 30px;
  overflow: hidden;
}

.links-icon::before,
.links-icon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  border-radius: 30px;
}

.links-icon i {
  position: relative;
  color: #2691d9;
  font-size: 25px;
  margin-top: 12px;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.links-icon-fill::before {
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  box-shadow: inset 0 0 0 1px #2691d9;
}
.links-icon-fill:hover::before {
  box-shadow: inset 0 0 0 60px #2691d9;
}
.links-icon-fill:hover i {
  color: white;
}

i span {
  margin-left: 8px;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}
.signup {
  font-size: 15px;
  color: gray;
  font-family: "Poppins", sans-serif;
}
.signup span {
  cursor: pointer;
  color: #3498db;
  text-decoration: none;
}
.signup span:hover {
  text-decoration: underline;
}

@media screen and (max-width: 492px) {
  .form-container {
    transform: scale(0.75) translate(55px, -70px);
}
}